
<div>

    <img class="w-64 h-48 p-8 rounded-full brightness-125 shadow-xl shadow hover:shadow-lg shadow-lg shadow-indigo-500/50" src="https://thumbs.dreamstime.com/b/profile-picture-young-indian-woman-renter-headshot-portrait-confident-tenant-pose-modern-own-new-apartment-house-226719004.jpg" alt="image">
    <h1 class="text-center ">Khansa</h1>
    <h4 class="text-center">Khansasalih@gmail.com</h4>
    </div>
    
    <!-- //bottom line place chayyan divider kodukkunnu -->
    
    <mat-divider></mat-divider> 
    
    <div class="pages">
    <div class="flex flex-col">
        <h3 class="text-center">Pages</h3>
    
        <!-- href change to routerlink kodukka click chayyumbboo maincontent corresponding content varanam  maaranam adinu appcomponent ll routeroutlet kodukkanam-->
    
    <!-- //dash board nde main path aaki set chaydu -->
   
    <a routerLink="">Dashboard</a>
    <a routerLink="gallery">Gallery</a>
    <a routerLink="employees">Employees</a>
    
</div>
</div> 
    
    <div class="pages">
        <div class="flex flex-col">
        <h3 class="text-center">Tools</h3>
    
        
        <!-- //component create chaydu path set chayyunnu router module inside ll ,Add Employee kkk icon set chayyunnu  
            ..<mat-icon>person_add</mat-icon> this tag koduthaa icon set chayy content koduthuu-->
    
    <a routerLink="add-employee"><mat-icon>person_add</mat-icon>Add Employee</a>
    <a class="mb-5" routerLink="lead-employee"><mat-icon>person</mat-icon>Lead</a>
    
    
</div>
    </div>
    
