<!-- <h1 class="text-3xl font-bold underline">
  Hello world!
</h1> -->



<header>

  <app-header  (toggle)="sidebarToggle()"></app-header>
</header>





<!-- 
       Sizing
   .............    
Height
Utilities for setting the height of an element.  class="h-96" -->


<mat-drawer-container class="example-container">

  <mat-drawer mode="side" [opened]="sidebar"> 
    
    <app-side-bar></app-side-bar>  

  </mat-drawer>
  <mat-drawer-content> 
    
    <router-outlet>
      
    </router-outlet>

</mat-drawer-content>
</mat-drawer-container>

<!-- sidebar -->


<!-- main section -->


<mat-divider></mat-divider>

<!-- footer -->
<footer>

  <app-footer> </app-footer>

</footer>