


<mat-card> 

<app-card>

</app-card>
  
</mat-card>


<div class="area">

    <!-- area chart -->
<app-area-chart></app-area-chart>

</div>


<caption class="mt-5 mb-5" id="caption">PROJECTS COMPLETED</caption>
<div class="parent">

    
    <div>
        <!-- table -->
        <app-table></app-table>


    </div>

</div>
    <div class="pie-chart">
        <!-- pie chart        selector of pie-chart component   selector: 'app-pie-chart' paste here to see contents in that in main page <app-pie-chart>   -->
               <app-pie-chart></app-pie-chart>

    </div>

